body {
    margin: 0;
    padding: 60px 0px;
    height: 100vh;
    background-color: #cac1b1;
}
footer, header {
    width: 100%;
    position: fixed;        
    background: #fae484;
}
header {
    top: 0;
}
footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
main {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 40px;
    grid-gap: 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
nav li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: #e86a10;
    font-weight: bold;
}
.termekek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 2px solid #888;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #BBB;
}
.termek{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.termek img{
    width: 300px;
    height: 199px;
}
.termekSzoveg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.termekSzoveg *{
    margin-right: 12px;
}
.termekSzoveg button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffb764;
    background: #ffd105;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#df5900;
    text-align:center;
    transition: all 0.2s;
    font-size: 14px;
    font-weight: bold;
}
.termekSzoveg button:hover{
    color:#ffd105;
    background-color:#cd5b0a;
}
.termekSzoveg button:active{
    background-color:#98480e;
}
.kosar {
    position: fixed;
    top: 150px;
    right: 50px;
    border: 2px solid #d4c8a8;
    display: flex;
    flex-direction: column; 
    background: #ffd105; 
    overflow: auto;
    height: 300px;
    width: 300px;
}
.kosarElem, .osszesito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    background: white;
    color: #cd5b0a;
    border-bottom: 2px solid #cd5b0a;
    padding: 5px;
}
.osszesito{
    justify-content: center;
    background: #ffe263; 
    font-size: 20px;
}
.kosarElem *{
    margin-right: 5px;
}
#sumMoney{
    margin-right: 5px;
}
.kosar button{
    height: 40px; 
    background-color: white;
    color: #cd5b0a;
    border: 1px solid #BBB;
    border-radius: 3px;
    width: 50px;
    font-size: 24px;
}
.kosar button:hover{
    background-color: #BBB;
}
.kosar button:active{
    background-color: #888;
}
