/* public/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body,html {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 231, 176);
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(249,243,189);
    background: linear-gradient(45deg, rgba(249,243,189,1) 0%, rgba(255,215,70,1) 100%);
    color: white;
    padding: 10px 0;
}
.footlink{
    color:#c1c1c1;
    text-decoration: none;
}

.welcome {
    text-align: center;
    padding: 50px 0;
}

.welcome h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.pizza-image {
    cursor: pointer;
    transition: .3s;
}
.pizza-image:hover {
    transform: scale(1.01);
    transition: .3s;
    box-shadow: #4d0a0a 0px 0px 10px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto; /* Add margin-bottom to create space for the button */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}

.image-container img.fade-out {
    opacity: 0;
}

.explore-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 200px;
}

header nav a {
    color: rgb(18, 18, 18);
    margin: 0 20px;
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    transition: .3s;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a:hover {
    background-color: antiquewhite;
    transition: .3s;
    padding: 10px;
    border-radius: 15px;
    scale: 1.1;
}

#cart {
    margin-left: auto;
    color: rgb(148, 0, 0);
    text-decoration: none;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 10px;
}

#cart:hover {
    background-color: rgb(246, 217, 183);
    transition: .3s;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, #name,
.form-group textarea {
    background-color: #fffefb;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 0px 0px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff5733;
    outline: none;
}

.btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: .3s;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #c33400;
    transition: .3s;
    cursor: pointer;
}

#pizza-details {
    margin-top: 20px;
}

.products, .reviews {
    padding: 40px 0;
    text-align: center;
}

.product-item {
    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: auto;
    border: 3px solid #630f00;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 20px;
    background: rgb(255,244,147);
    background: linear-gradient(180deg, rgba(255,244,147,1) 0%, rgba(255,213,58,1) 100%);
    font-size: larger;
    box-shadow: 0px 0px 15px rgb(46, 46, 46);
}

.product-item img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.product-description {
    height: 50px;
    overflow: hidden;
}

.product-button {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-family: "Sour Gummy", sans-serif;
    letter-spacing: 1px;
    box-shadow: #4d0a0a 0px 0px 10px;
}

.products h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#logo {
    max-width: 200px;
}

.log_reg {
    color: #630f00;
    background-color: #e1c98574;
    border-radius: 20px;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
}

.log_reg:hover {
    background-color: #d4b77b;
    transition: .3s;
}

/* Felugró ablak stílus */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ne lehessen görgetni */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: rgb(255,244,147);
    background: linear-gradient(180deg, rgba(255,244,147,1) 0%, rgba(255,213,58,1) 100%);    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-height: 90%; /* Biztosítja, hogy a popup ne legyen túl magas */
    overflow-y: auto; /* Görgetés a popup tartalmán belül */
}
.modal-content img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Biztosítja, hogy a kép ne legyen túl magas */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*slider*/
#slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 15px #888;
  }

  #slider-scroller {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: calc(600px * 10);
    transition: all 1s ease;
  }

  .slider-item {
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
  }

  .slider-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 200px;
  }







/* Cart */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;

}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #ffd767;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
#cart_input{
    border-radius: 10px;
    padding: 5px;
    font-family: 'Sour Gummy', sans-serif;
    font-size: larger;
}

.total {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.btn-back, .btn-remove {
    font-family: 'Sour Gummy', sans-serif;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-back {
    background-color: #1b1b1b;
    margin-bottom: 100px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    margin-top: 100px;
}
.btn-back a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
}

.btn-remove {
    background-color: #ff6347;
}


.btn-remove:hover {
    background-color: #c33400;
}
#pizzakeres[type="text"] {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #c7b085;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 16px;
    background-color: #ffefc5;
    margin-bottom: 20px;
    font-family: "Sour Gummy", sans-serif;
}
#pizzakeres[type="text"]:focus {
    width: 35%;
    padding: 12px;
    border-color: #ffc40080;
    box-shadow: 0 0 10px 5px #ffc40080;
    outline: none;
}
#sort{
    font-family: "Sour Gummy", sans-serif;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #c7b085;
    background-color: #fff2d2;
    border-radius: 25px;
}

form #pizzakeres_but[type="submit"] {
    background-color: #ffd767;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: "Sour Gummy", sans-serif;
}

form #pizzakeres_but[type="submit"]:hover {
    background-color: #ebad00;
}
.btn-payment {
    background-color: #ff6347;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    margin-left: auto;
}

.btn-payment a {
    color: #ffffff;
    text-decoration: none;
}

.btn-payment:hover {
    background-color: #c33400;
}






/* Főoldal */
.welcome {
    text-align: center;
    padding: 100px 20px;
}

.welcome h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #343a40;
}

.welcome p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #6c757d;
}

.btn.explore-button {
    background-color: #ffd767;;
    color: #3f0000;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
}

.btn.explore-button:hover {
    background-color: #ebad00;
    color: #ffffff;
    letter-spacing: 1.5px;
    box-shadow: 0 0 15px #ffc800b3;
}
thead{
    font-size: larger;
}




/* Reszponzív stílusok */
@media (max-width: 1200px) {
    .product-item {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        margin: 10px 0;
    }

    .product-item {
        flex: 1 1 100%;
    }

    .products h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .products h1 {
        font-size: 30px;
    }
}







/* Kapcsolat */
.contact {
    padding: 50px 0;
    text-align: center;
}

.contact h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-info {
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.social-media {
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1.4rem;
    transition: background-color 0.3s, color 0.3s;
}

.social-media a:hover {
    background-color: #007bff;
    color: #fff;
}

.social-media i {
    margin-right: 8px;
}
.google-map {
    margin-top: 30px;
    text-align: center;
}

.google-map iframe {
    width: 100%;
    height: 450px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}







/* Fizetés */
.form-control{
    background-color: #f9f9f9;
    border-radius: 0;
    box-shadow: black 0 0 0 0;
}
