/* public/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body,html {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 231, 176);
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(249,243,189);
    background: linear-gradient(45deg, rgba(249,243,189,1) 0%, rgba(255,215,70,1) 100%);
    color: white;
    padding: 10px 0;
}
.footlink{
    color:#c1c1c1;
    text-decoration: none;
}

.welcome {
    text-align: center;
    padding: 50px 0;
}


.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.pizza-image {
    cursor: pointer;
    transition: .3s;
}
.pizza-image:hover {
    transform: scale(1.01);
    transition: .3s;
    box-shadow: #4d0a0a 0px 0px 10px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto; /* Add margin-bottom to create space for the button */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}

.image-container img.fade-out {
    opacity: 0;
}

.explore-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 200px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: rgb(18, 18, 18);
    margin: 0 20px;
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    transition: .3s;
    padding: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin: 0 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 24px;
    color: rgb(18, 18, 18);
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

header nav a:hover {
    background-color: antiquewhite;
    transition: .3s;
    padding: 10px;
    border-radius: 15px;
    scale: 1.1;
}

#cart {
    margin-left: auto;
    color: rgb(148, 0, 0);
    text-decoration: none;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 10px;
}

#cart:hover {
    background-color: rgb(246, 217, 183);
    transition: .3s;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, #name,
.form-group textarea {
    background-color: #fffefb;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 0px 0px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff5733;
    outline: none;
}

.btn {
    font-family: "Sour Gummy", sans-serif;
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: larger;
    border: 0;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #c33400;
    transition: .3s;
    cursor: pointer;
}

#pizza-details {
    margin-top: 20px;
}

.products, .reviews {
    padding: 40px 0;
    text-align: center;
}

.product-item {
    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: auto;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 20px;
    background: rgb(255,244,147);
    background: linear-gradient(180deg, rgba(255,244,147,1) 0%, rgba(255,213,58,1) 100%);
    font-size: larger;
    box-shadow: 0px 10px 15px rgb(122, 122, 122);
}

.product-item img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.product-description {
    height: 50px;
    overflow: hidden;
}

.product-button {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-family: "Sour Gummy", sans-serif;
    letter-spacing: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

.products h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#logo {
    max-width: 200px;
}

.log_reg {
    color: #630f00;
    background-color: #e1c98574;
    border-radius: 20px;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
}

.log_reg:hover {
    background-color: #d4b77b;
    transition: .3s;
}

/* Felugró ablak stílus */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ne lehessen görgetni */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: rgb(255,244,147);
    background: linear-gradient(180deg, rgba(255,244,147,1) 0%, rgba(255,213,58,1) 100%);    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-height: 90%; /* Biztosítja, hogy a popup ne legyen túl magas */
    overflow-y: auto; /* Görgetés a popup tartalmán belül */
}
.modal-content img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Biztosítja, hogy a kép ne legyen túl magas */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*slider*/
#slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 15px #888;
  }

  #slider-scroller {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: calc(600px * 10);
    transition: all 1s ease;
  }

  .slider-item {
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
  }

  .slider-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 200px;
  }
  @media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
@media (max-width: 768px) {
    .product-item {
        width: 100%;
        margin: 10px 0;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Cart */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;

}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #ffd767;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
#cart_input{
    border-radius: 10px;
    padding: 5px;
    font-family: 'Sour Gummy', sans-serif;
    font-size: larger;
}

.total {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.btn-back, .btn-remove {
    font-family: 'Sour Gummy', sans-serif;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-back {
    background-color: #1b1b1b;
    margin-bottom: 100px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    margin-top: 100px;
}
.btn-back a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
}

.btn-remove {
    background-color: #ff6347;
}


.btn-remove:hover {
    background-color: #c33400;
}
#pizzakeres[type="text"] {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #c7b085;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 16px;
    background-color: #ffefc5;
    margin-bottom: 20px;
    font-family: "Sour Gummy", sans-serif;
}
#pizzakeres[type="text"]:focus {
    width: 35%;
    padding: 12px;
    border-color: #ffc40080;
    box-shadow: 0 0 10px 5px #ffc40080;
    outline: none;
}
#sort{
    font-family: "Sour Gummy", sans-serif;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #c7b085;
    background-color: #fff2d2;
    border-radius: 25px;
}

form #pizzakeres_but[type="submit"] {
    background-color: #ffd767;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: "Sour Gummy", sans-serif;
}

form #pizzakeres_but[type="submit"]:hover {
    background-color: #ebad00;
}
.btn-payment {
    background-color: #ff6347;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    margin-left: auto;
}

.btn-payment a {
    color: #ffffff;
    text-decoration: none;
}

.btn-payment:hover {
    background-color: #c33400;
}

/* Főoldal */
.welcome {
    text-align: center;
    padding: 100px 20px;
    position: relative;
    z-index: 2;
}

.welcome h1 {
    font-size: 55px;
    margin-top: -40px;
    margin-bottom: 20px;
    color: #343a40;
}

.welcome p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #6c757d;
}

.btn.explore-button {
    background-color: #ffd767;;
    color: #3f0000;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
}

.btn.explore-button:hover {
    background-color: #ebad00;
    color: #ffffff;
    letter-spacing: 1.5px;
    box-shadow: 0 0 15px #ffc800b3;
}
thead{
    font-size: larger;
}

/* Reszponzív stílusok */
@media (max-width: 1200px) {
    .product-item {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        margin: 10px 0;
    }

    .product-item {
        flex: 1 1 100%;
    }

    .products h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .products h1 {
        font-size: 30px;
    }
}

.video-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Kapcsolat */
.contact {
    padding: 50px 0;
    text-align: center;
}

.contact h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-info {
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1.4rem;
    transition: background-color 0.3s, color 0.3s;
}

.social-media a:hover {
    background-color: #007bff;
    color: #fff;
}

.social-media i {
    margin-right: 8px;
}
.google-map {
    margin-top: 30px;
    text-align: center;
}

.google-map iframe {
    width: 100%;
    height: 450px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fizetés */
.form-control{
    background-color: #f9f9f9;
    border-radius: 0;
    box-shadow: black 0 0 0 0;
}

/* Slideshow container */

.slider_container {
    max-width: 800px;
    position: relative;
    left: 0;
    top: 10%;
    margin: auto;
    height: 200px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,.1);
    top: 0;
    top: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 40px; 
    transition: 0.6s ease;
  }
  
  /* Position the "next button" to the right */
  
  .next {
    position: absolute;
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  
  .prev:hover,
  .next:hover {
    background-color: grey;
    color: white;
  }
  
  /* The dots/bullets/indicators */
  
  .slider_dots {
    text-align: center;
    &--dot {
      cursor: pointer;
      height: 20px;
      width: 20px;
      margin: 15px 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  }
  
  .active,
  .slider_dots--dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  
  /* Slides and review */ 
  .review-item {
    height: 150px;
    width: 250px;
    background-color: #987f2e;
    border: 1px rgb(76, 66, 0) solid;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    box-shadow: 0px 0px 10px 2px #535353;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
  }
  
  .review-item span {
    display: inline-block;
  }
  
  .review-item span.star-rating {
    padding-top: 17%;
    color: gold;
    font-size: 25px;
  }
  
  .review-item span.reviewer-info {
    color: #ffffff;
  }
  

  svg {
    display: block;
    height: 70%;
    

  }
  
  .pizza {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s ease-in-out infinite forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* Media Queries */ 
  /*Small phones */
  @media only screen and (max-width: 350px){
     .slider_container {
    max-width: 250px;
    position: relative;
    left: 0;
    top: 15%;
    margin: auto;
    height: 150px;
  }
    .review-item {
    height: 75px;
    width: 70px;
    background-color: #f8f8f8;
    border: 1px lightgrey solid;
    margin: 0;
    margin-left: 7px;
    padding: 0;
    box-shadow: 2px 5px 2px -2px #f9f9f9;
    display: inline-block;
    text-align: center;
    font-size: 8px;
  }
    .review-item span.star-rating {
    padding-top: 25%;
    color: gold;
    font-size: 5px;
  }
    .prev, .next {
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,.1);
    top: 0;
    top: 60%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 15px; 
    transition: 0.6s ease;
  }
  }
  
  /* Modern Phones */
  @media only screen and (min-width: 351px) and (max-width: 600px){
    .container {
    max-width: 600px;
    height: 250px;
    background-color: white;
    position: relative;
    margin:auto;
  }
    .slider_container {
    max-width: 300px;
    position: relative;
    left: 0;
    top: 15%;
    margin: auto;
    height: 200px;
  }
    .review-item {
    height: 95px;
    width: 80px;
    background-color: #f8f8f8;
    border: 1px lightgrey solid;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    box-shadow: 2px 5px 2px -2px #f9f9f9;
    display: inline-block;
    text-align: center;
    font-size: 10px;
  }
    .review-item span.star-rating {
    padding-top: 30%;
    color: gold;
    font-size: 10px;
  }
    .prev, .next {
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,.1);
    top: 0;
    top: 60%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 20px; 
    transition: 0.6s ease;
  }
  }
  @media only screen and (min-width: 601px) and (max-width: 900px){
    .container {
    max-width: 900px;
    height: auto;
    background-color: white;
    position: relative;
    margin:auto;
  }
    .slider_container {
    max-width: 600px;
    position: relative;
    left: 0;
    top: 10%;
    margin: auto;
    height: auto;
  }
    .review-item {
    height: 150px;
    width: 150px;
    background-color: #f8f8f8;
    border: 1px lightgrey solid;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    box-shadow: 2px 5px 2px -2px #f9f9f9;
    display: inline-block;
    text-align: center;
  }
    .review-item span.star-rating {
    padding-top: 25%;
    color: gold;
    font-size: 15px;
  }
    .prev, .next {
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,.1);
    top: 0;
    top: 60%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 30px; 
    transition: 0.6s ease;
  }
  }

  .newsletter-signup {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
}

.newsletter-signup h2 {
    margin-bottom: 10px;
}

.newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-signup input[type="email"] {
    font-family: "Sour Gummy", sans-serif;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;

}

.newsletter-signup button {
  font-family: "Sour Gummy", sans-serif;
  padding: 10px 20px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #c33400;
  transition: .3s;
}

.newsletter-signup button:hover {
  background-color: #c33400;
  transition: .3s;
}

  .header-span {
    display: block;
    font-weight: 100;
  }
  
  .all-the-foods {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color:white;
  }
  
  div.clip-path-container {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    margin: 10px ;
    padding: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;  
    border-radius: 50%;
    border-collapse: separate; 
    background-color: #847d42;
  }
  
  .clip-path-container:focus,
  .clip-path-container:active,
  .clip-path-container:hover {
    border-radius: 50%;
    outline: none;
  } 
  
  .food {
    height: 250px;
    width: 250px;
    background-size: cover;
    transition: all .2s ease-in-out;
    transform: scale(1.5); 
    outline: none;
    overflow: hidden;  
    clip-path: polygon(0 100%, 0 0, 52% 0, 52% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
  
  .clip-path-container:hover .food {
    clip-path: polygon(50% 100%, 50% 0, 100% 0, 100% 100%);
    transform: scale(1.1);
  }
  
  .clip-path-container:hover .description-holder { 
    left: 20px;
    opacity: 1;
  }
  
  .description-holder {
    position: absolute;
    top: 35px;
    left: 120px;
    height: 300px;
    width: 100px;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    opacity: 0;
    text-align: right;
  }
  
  .description-holder h4 {
    font-size: 14px;
    margin-bottom: -8px;
  }
  
  .description-holder p {
    max-width: 100px;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
  }
  
  .bibimbap {
    background-image: url('../images/cheese.jpg');
    background-position: 50% 20%;
  }
  
  .pizza {
    background-image: url('../images/diavola.jpg');
    background-position: 50% 20%;
  }
  
  .guacamole {
    background-image: url('../images/Húsimádó.jpg');
    background-position: 50% 20%;
  }
  
  .cookie {
    background-image: url('../images/greek.jpg');
    background-position: 50% 20%;
  }
  
  .donut {
    background-image: url('../images/funghi.jpg');
    background-position: 50% 20%;
  }
  
  .pancake {
    background-image: url('../images/capricciosa.jpg');
    background-position: 50% 20%;
  }

.opening-hours {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(249, 249, 249, 0.7);
    margin-bottom: 30px;
}

.opening-hours h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.opening-hours ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.opening-hours li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

